.update-product-modal {
    box-shadow: 0 0 5px lightblue;
    border-radius: 0.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    padding: 2rem;
    background-color: aliceblue;
    z-index: 99;
}